.container {
    background-color: skyblue;
    width: 40%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
   
}

.heading {
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn {
    display: flex;
    justify-content: center;


}

.lst {
    display: flex;
    justify-content: center;

}